@import '../../Scss/root';

.category-menu {
  &__list {
    @include rfs(22);
    @media screen and (max-width: $xs-beakpoint) { @include rfs(16) }
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;

    &:after {
      @media screen and (max-width: $xs-beakpoint) { margin: 0 .75em }
      content: '/';
      font-weight: 100;
      margin: 0 1em;
    }

    &:last-child:after { display: none }
  }

  &__link {
    font-weight: 100;

    &--active{
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
