@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin shadow {
  box-shadow: 0 3px 9px darken($light-gray, 35%)
}

@mixin hover-shadow {
	transition: box-shadow .15s linear;

	&:hover { @include shadow() }
}
