$primary-color: #fff;
$secondary-color: #000;

$light-gray: #efefef;

$container: 1210px;

$fontFamily: 'Lato', sans-serif;
$text-color: $secondary-color;

$border-radius: 8px;
$sm-beakpoint:  768px;

$header-height: 80px;
