$primary-color: #fff;
$secondary-color: #000;

$error-color: #c6343b99;

$light-gray: #efefef;
$gray: #c7c7c7;

$container: 1210px;

$fontFamily: 'Lato', sans-serif;
$text-color: $secondary-color;

$border-radius: 8px;
$sm-beakpoint:  768px;

$header-height: 80px;
